* {
    font-family: 'Lato', sans-serif;
    /* Lato font from Google fonts */
}

body {
    margin: auto;
}

body>* {
    padding: 0 1em 0 1em;
    /* Makes header, main, and footer have left-right padding */
}

header,
footer {
    background-color: #caf6ff;
    /* Sets light-blue background colors for header and footer */
    margin: auto;
}

footer {
    padding: 1rem;
    /* add padding on all sides for footer */
}

main {
    background-color: rgb(255, 253, 246);
    /* Off white color for main content */
    padding-bottom: 5mm;
    /* add padding between questionnaire and footer */
}

h1 {
    /* Modify h1 tag to account for background-color */
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

h2 {
    /* Modify h2 tag to account for background-color */
    margin: auto;
    padding: 1.1rem 0 0 0;
    margin-bottom: 1rem;
}

.questionnaire {
    position: relative;
    width: 50vw;
    left: 25%;
}

#questions {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1pc;
}

summary:hover {
    color: rgb(18, 175, 199);
}

summary:active {
    color: rgb(23, 139, 157);
}

[present="true"] {
    color: hsl(125, 69%, 20%);
}

[present="false"] {
    color: hsl(0, 59%, 22%);
    text-decoration: line-through;
}

ul.details-list {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

ul li {
    margin-top: 1mm;
    margin-bottom: 1mm;
}

ol li {
    margin: 1mm 0;
}

em, strong {
    text-decoration: underline;
    color: darkred;
}

#cat-assets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#cat-assets > * {
    max-width: 30vw;
}

@media screen and (max-width: 425px) {
    .questionnaire {
        width: 100%;
        left: 0;
    }

    #cat-assets {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    #cat-assets > * {
        max-width: 80vw;
    }
}